//system
@import 'system/mixin';
@import 'system/var';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0 auto;
    width: 1060px;
    @media (max-width: 1024px) {
        width: 100%;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.container {
    margin: 0 auto;


}
