.group {
    border-bottom: 2px solid $second_gray;
    background-color: $third_gray;

    &__head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $third_gray;
        background-color: $second_gray;
        padding: 10px;

        &_name {
            color: $white;
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1px;
            display: block;
            padding: 10px;
            margin: 0;
            word-break: break-word;
        }

        &_buttons {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 50px;

        &:drop {
            background-color: $accent_light;
        }
    }

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    min-width: 340px;
    width: 100%;
}
