//===typo==========================
$base_font: Arial, sans-serif;

//===colors========================
$white: #ffffff;
$black: #000000;

$accent_light: #ff0000;
$accent_blue: #007bcd;
$accent_black: #161618;
$accent_gray: #828282;

$second_gray: #4f4f4f;
$third_gray: #e0e0e0;

$error: #eb5757;
$succes: #27ae60;

//===breaks========================
$breaks: (
    desktop: 1600px,
    laptop: 1366px,
    tablet_lg: 1280px,
    tablet_md: 1024px,
    tablet_sm: 960px,
    mobile: 767px,
    mobile_md: 640px,
    mobile_sm: 480px,
);

