.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 200px;
    color: $white;
    background-color: $accent_gray;
    margin: 10px;

    @include m {
        width: 100%;
    }

    &__header {
        padding: 10px;
        display: flex;
        background-color: $second_gray;

        &_title {
            color: $white;
            text-transform: uppercase;
            width: 200px;
            word-break: break-word;
        }

        &_status-ok {
            text-align: center;
            padding: 5px;
            background-color: $succes;
            color: $white;
            height: 30px;
            width: 110px;
        }

        &_status-not {
            text-align: center;
            width: 110px;
            padding: 5px;
            background-color: $error;
            color: $white;
            height: 30px;
        }
    }

    &__main {
        padding: 10px;
        word-break: break-word;
        white-space: pre-line;
        overflow: hidden;
    }

    &__footer {
        width: 100%;
        position: relative;
        bottom: 0;

        &_buttons {
            display: flex;
            justify-content: space-between;

            &-item {
                margin-left: 5px;

                .btn {
                    width: 95px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.drag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include m {
        width: 100%;
    }
    @include xs {
        width: 340px
    }

}
