.header {
    width: 100%;
    border-bottom: 2px solid $accent_gray;
    margin-bottom: 10px;

    &__name {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $accent_gray;
        margin-bottom: 20px;
    }

    &__filter {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 10px;
        border: 1px dashed $accent_gray;

        @include tsm {
            display: block;
        }
    }
}
